:root{
	--colorPrimary:#181818;
	--colorWhite:#fff;
}
body{
background-color: var(--colorPrimary);
}
.movieCard{
	height: 100vh;
	position: relative;
}
.movieCard img{
	height: 100%;
	object-fit: cover;
}
.movieCard figcaption{
	position: absolute;
	top: 0;
	left: 0;
	width: 50%;
	height: 100%;
	color: var(--colorWhite);
	background-image: linear-gradient(90deg,#181818 10%,hsla(0,0%,9%,.98) 20%,hsla(0,0%,9%,.97) 25%,hsla(0,0%,9%,.95) 35%,hsla(0,0%,9%,.94) 40%,hsla(0,0%,9%,.92) 45%,hsla(0,0%,9%,.9) 50%,hsla(0,0%,9%,.87) 55%,hsla(0,0%,9%,.82) 60%,hsla(0,0%,9%,.75) 65%,hsla(0,0%,9%,.63) 70%,hsla(0,0%,9%,.45) 75%,hsla(0,0%,9%,.27) 80%,hsla(0,0%,9%,.15) 85%,hsla(0,0%,9%,.08) 90%,hsla(0,0%,9%,.03) 95%,hsla(0,0%,9%,0));
    display: flex;
	flex-direction: column;
	justify-content: center;
	padding-left: 30px;
}

